:root {
  --color-primary: rgb(225, 246, 248);
  --color-secondary: rgb(110, 157, 233);
  --color-tertiary:rgb(21, 46, 234);
  --color-quarternary: white;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

#root {
  width: 600px;
  height: 600px;
  background-color: var(--color-quarternary);
}

.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 1%;
}
  .header {
    margin: 1%;
  }
    .header .title {
      font-size: 2.5rem;
      text-align: center;
      margin-top: 1%;
    }
    .header .underline {
      height: 0.25rem;
      width: 10rem;
      background: var(--color-secondary);
      margin: 0 auto;
      margin-top: -2%;
    }
  .form {
    margin: 1%;
    background-color: var(--color-primary);
  }
    .form select {
      font-size: 1.75rem;
      padding: 0.5%;
      width: 8%;
      margin: 1%;
      margin-right: 5%;
    }

    .form button {
      font-size: 2rem;
      width: 20%;
      padding: 0.35%;
      border-radius: 5%;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      color: var(--color-quarternary);
      background-color: var(--color-secondary);
    }
      .form button:hover {
        cursor: pointer;
      }
  .paragraphes p {
    font-size: 1.5rem;
    margin: 3% 1%;
    text-align: justify;
  }



@media (max-width: 1024px) {
  #root {
    width: 560px;
    height: 560px;
  }

  html {
    font-size: 7px;
  }

  .form select {
    width: 12%;
  }
}
@media (max-width: 768px) {
  #root {
    width: 420px;
    height: 420px;
  }
}
@media (max-width: 576px) {
  #root {
    width: 350px;
    height: 350px;
  }

  html {
    font-size: 6px;
  }

  .form select {
    width: 17%;
  }
}
@media (max-width: 425px) {
  #root {
    width: 240px;
    height: 240px;
  }

  html {
    font-size: 4px;
  }
}